<div class="container">
  <form action="questionario">
    <div class="row">
      <p> 1- Prima domanda</p>
    </div>
    <div class="row">
      <input type="radio" name="domandaUno" value="domandaUnoOpzioneUno"> OpzioneUno<br>
      <input type="radio" name="domandaUno" value="domandaUnoOpzioneDue"> OpzioneDue<br>
      <input type="radio" name="domandaUno" value="domandaUnoOpzioneTre"> OpzioneTre<br>
    </div>
    <hr>
    <div class="row">
      <p> 1- Seconda domanda</p>
    </div>
    <div class="row">
      <input type="radio" name="domandaDue" value="domandaDueOpzioneUno"> OpzioneUno<br>
      <input type="radio" name="domandaDue" value="domandaDueOpzioneDue"> OpzioneDue<br>
      <input type="radio" name="domandaDue" value="domandaDueOpzioneTre"> OpzioneTre<br>
    </div>
    <hr>
    <div class="row">
      <p> 1- Terza domanda</p>
    </div>
    <div class="row">
      <input type="radio" name="domandaTre" value="domandaTreOpzioneUno"> OpzioneUno<br>
      <input type="radio" name="domandaTre" value="domandaTreOpzioneDue"> OpzioneDue<br>
      <input type="radio" name="domandaTre" value="domandaTreOpzioneTre"> OpzioneTre<br>
    </div>
    <hr>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>